snippet bf "Makes text bold font"
\textbf{${1:${VISUAL:}}}$0
endsnippet

snippet it "Makes text bold font"
\textit{${1:${VISUAL:}}}$0
endsnippet

snippet verb "Makes text bold font"
\verb|${1:${VISUAL:}}|$0
endsnippet

